<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hikma | Shifts</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/dist/img/hikmaLogo2.png" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="assets/plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- SweetAlert2 -->
    <link
      rel="stylesheet"
      href="/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="assets/dist/css/adminlte.min.css" />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link
      rel="stylesheet"
      href="/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />

    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />

    <style>
      form h3 {
        color: #007bff;
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
      }
      .card-header#headingOne h2.mb-0 {
        text-align-last: justify;
      }
    </style>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('partials/navBar') %>

      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('partials/sideBar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Shifts</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Shifts</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <% if (user.access.site=="ALL" || user.access.site=='IAB') { %>

            <div class="col-12">
              <!-- /.card -->

              <div class="card card-outline card-danger" id="iab">
                <div class="card-header" id="headingOne">
                  <div class="card-title">
                    <h3>IAB</h3>
                  </div>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                      <form role="form" action="/api/iab/shifts" method="POST">
                        <div class="form-group">
                          <label for="shift">Shift type</label>
                          <select
                            class="custom-select"
                            id="shift"
                            name="number"
                          >
                            <option value="1" selected>extended</option>
                            <option value="2">two shifts</option>
                            <option value="3">three shifts</option>
                          </select>
                        </div>
                        <hr />
                        <h3 class="text-muted">Shift A</h3>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6">
                              <label>Shift start</label>

                              <div
                                class="input-group date"
                                id="shift1Start"
                                data-target-input="nearest"
                              >
                                <input
                                  type="text"
                                  class="form-control datetimepicker-input"
                                  data-target="#shift1Start"
                                  name="shift1Start"
                                />
                                <div
                                  class="input-group-append"
                                  data-target="#shift1Start"
                                  data-toggle="datetimepicker"
                                >
                                  <div class="input-group-text">
                                    <i class="far fa-clock"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <label>Shift end</label>

                              <div
                                class="input-group date"
                                id="shift1End"
                                data-target-input="nearest"
                              >
                                <input
                                  type="text"
                                  class="form-control datetimepicker-input"
                                  data-target="#shift1End"
                                  name="shift1End"
                                />
                                <div
                                  class="input-group-append"
                                  data-target="#shift1End"
                                  data-toggle="datetimepicker"
                                >
                                  <div class="input-group-text">
                                    <i class="far fa-clock"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                        <!--shift 2-->
                        <div id="shift2">
                          <hr />
                          <h3 class="text-muted">Shift B</h3>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <label>Shift start</label>

                                <div
                                  class="input-group date"
                                  id="shift2Start"
                                  data-target-input="nearest"
                                >
                                  <input
                                    type="text"
                                    class="form-control datetimepicker-input"
                                    data-target="#shift2Start"
                                    name="shift2Start"
                                  />
                                  <div
                                    class="input-group-append"
                                    data-target="#shift2Start"
                                    data-toggle="datetimepicker"
                                  >
                                    <div class="input-group-text">
                                      <i class="far fa-clock"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <label>Shift end</label>

                                <div
                                  class="input-group date"
                                  id="shift2End"
                                  data-target-input="nearest"
                                >
                                  <input
                                    type="text"
                                    class="form-control datetimepicker-input"
                                    data-target="#shift2End"
                                    name="shift2End"
                                  />
                                  <div
                                    class="input-group-append"
                                    data-target="#shift2End"
                                    data-toggle="datetimepicker"
                                  >
                                    <div class="input-group-text">
                                      <i class="far fa-clock"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                        <!--shift 3-->
                        <div id="shift3">
                          <hr />
                          <h3 class="text-muted">Shift C</h3>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <label>Shift start</label>

                                <div
                                  class="input-group date"
                                  id="shift3Start"
                                  data-target-input="nearest"
                                >
                                  <input
                                    type="text"
                                    class="form-control datetimepicker-input"
                                    data-target="#shift3Start"
                                    name="shift3Start"
                                  />
                                  <div
                                    class="input-group-append"
                                    data-target="#shift3Start"
                                    data-toggle="datetimepicker"
                                  >
                                    <div class="input-group-text">
                                      <i class="far fa-clock"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <label>Shift end</label>

                                <div
                                  class="input-group date"
                                  id="shift3End"
                                  data-target-input="nearest"
                                >
                                  <input
                                    type="text"
                                    class="form-control datetimepicker-input"
                                    data-target="#shift3End"
                                    name="shift3End"
                                  />
                                  <div
                                    class="input-group-append"
                                    data-target="#shift3End"
                                    data-toggle="datetimepicker"
                                  >
                                    <div class="input-group-text">
                                      <i class="far fa-clock"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                        <!-- /.form group -->
                        <!-- /.card-body -->

                        <button type="submit" class="btn btn-success">
                          Submit
                        </button>
                      </form>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                      <h3 class="text-success">
                        Current shift : <% if(shift.iab.type) %> <%=
                        shift.iab.type %>
                      </h3>
                      <p class="text-muted">
                        <% if(shift.iab.date) %> Modifed date : <%=
                        shift.iab.date %>
                      </p>

                      <h5 class="mt-5 text-muted">Timing</h5>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Shift</th>
                            <th>Start</th>
                            <th>End</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(typeof shift.iab.first != 'undefined') { %>
                          <tr>
                            <td>A</td>
                            <td><%= shift.iab.first.start %></td>
                            <td><%= shift.iab.first.end %></td>
                          </tr>
                          <% }%> <% if(shift.iab.number >= '2') { %>
                          <tr>
                            <td>B</td>
                            <td><%= shift.iab.second.start %></td>
                            <td><%= shift.iab.second.end %></td>
                          </tr>
                          <% }%> <% if(shift.iab.number == '3') {%>
                          <tr>
                            <td>C</td>
                            <td><%= shift.iab.third.start %></td>
                            <td><%= shift.iab.third.end %></td>
                          </tr>
                          <% }%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- /.card -->
            </div>
            <% } %> <% if (user.access.site=='ALL' ||
            user.access.site=='MEDICEF') { %>

            <!--! SHIFT MEDICEF-->
            <div class="col-12">
              <!-- /.card -->

              <div class="card card-outline card-danger" id="medicef">
                <div class="card-header" id="headingOne">
                  <div class="card-title">
                    <h3>MEDICEF</h3>
                  </div>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                      <form
                        role="form"
                        action="/api/medicef/shifts"
                        method="POST"
                      >
                        <div class="form-group">
                          <label for="shift">Shift type</label>
                          <select
                            class="custom-select"
                            id="shift"
                            name="number"
                          >
                            <option value="1" selected>extended</option>
                            <option value="2">two shifts</option>
                            <option value="3">three shifts</option>
                          </select>
                        </div>
                        <hr />
                        <h3 class="text-muted">Shift A</h3>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6">
                              <label>Shift start</label>

                              <div
                                class="input-group date"
                                id="shift1Start"
                                data-target-input="nearest"
                              >
                                <input
                                  type="text"
                                  class="form-control datetimepicker-input"
                                  data-target="#medicef #shift1Start"
                                  name="shift1Start"
                                />
                                <div
                                  class="input-group-append"
                                  data-target="#medicef #shift1Start"
                                  data-toggle="datetimepicker"
                                >
                                  <div class="input-group-text">
                                    <i class="far fa-clock"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <label>Shift end</label>

                              <div
                                class="input-group date"
                                id="shift1End"
                                data-target-input="nearest"
                              >
                                <input
                                  type="text"
                                  class="form-control datetimepicker-input"
                                  data-target="#medicef #shift1End"
                                  name="shift1End"
                                />
                                <div
                                  class="input-group-append"
                                  data-target="#medicef #shift1End"
                                  data-toggle="datetimepicker"
                                >
                                  <div class="input-group-text">
                                    <i class="far fa-clock"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /.input group -->
                        </div>
                        <!--shift 2-->
                        <div id="shift2">
                          <hr />
                          <h3 class="text-muted">Shift B</h3>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <label>Shift start</label>

                                <div
                                  class="input-group date"
                                  id="shift2Start"
                                  data-target-input="nearest"
                                >
                                  <input
                                    type="text"
                                    class="form-control datetimepicker-input"
                                    data-target="#medicef #shift2Start"
                                    name="shift2Start"
                                  />
                                  <div
                                    class="input-group-append"
                                    data-target="#medicef #shift2Start"
                                    data-toggle="datetimepicker"
                                  >
                                    <div class="input-group-text">
                                      <i class="far fa-clock"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <label>Shift end</label>

                                <div
                                  class="input-group date"
                                  id="shift2End"
                                  data-target-input="nearest"
                                >
                                  <input
                                    type="text"
                                    class="form-control datetimepicker-input"
                                    data-target="#medicef #shift2End"
                                    name="shift2End"
                                  />
                                  <div
                                    class="input-group-append"
                                    data-target="#medicef #shift2End"
                                    data-toggle="datetimepicker"
                                  >
                                    <div class="input-group-text">
                                      <i class="far fa-clock"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                        <!--shift 3-->
                        <div id="shift3">
                          <hr />
                          <h3 class="text-muted">Shift C</h3>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <label>Shift start</label>

                                <div
                                  class="input-group date"
                                  id="shift3Start"
                                  data-target-input="nearest"
                                >
                                  <input
                                    type="text"
                                    class="form-control datetimepicker-input"
                                    data-target="#medicef #shift3Start"
                                    name="shift3Start"
                                  />
                                  <div
                                    class="input-group-append"
                                    data-target="#medicef #shift3Start"
                                    data-toggle="datetimepicker"
                                  >
                                    <div class="input-group-text">
                                      <i class="far fa-clock"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <label>Shift end</label>

                                <div
                                  class="input-group date"
                                  id="shift3End"
                                  data-target-input="nearest"
                                >
                                  <input
                                    type="text"
                                    class="form-control datetimepicker-input"
                                    data-target="#medicef #shift3End"
                                    name="shift3End"
                                  />
                                  <div
                                    class="input-group-append"
                                    data-target="#medicef #shift3End"
                                    data-toggle="datetimepicker"
                                  >
                                    <div class="input-group-text">
                                      <i class="far fa-clock"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                        <!-- /.form group -->
                        <!-- /.card-body -->

                        <button type="submit" class="btn btn-success">
                          Submit
                        </button>
                      </form>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                      <h3 class="text-success">
                        Current shift : <% if(shift.medicef.type) %> <%=
                        shift.medicef.type %>
                      </h3>
                      <p class="text-muted">
                        <% if(shift.medicef.date) %> Modifed date : <%=
                        shift.medicef.date %>
                      </p>

                      <h5 class="mt-5 text-muted">Timing</h5>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Shift</th>
                            <th>Start</th>
                            <th>End</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(typeof shift.medicef.first != 'undefined') { %>
                          <tr>
                            <td>A</td>
                            <td><%= shift.medicef.first.start %></td>
                            <td><%= shift.medicef.first.end %></td>
                          </tr>
                          <% }%> <% if(shift.medicef.number >= '2') { %>
                          <tr>
                            <td>B</td>
                            <td><%= shift.medicef.second.start %></td>
                            <td><%= shift.medicef.second.end %></td>
                          </tr>
                          <% }%> <% if(shift.medicef.number == '3') {%>
                          <tr>
                            <td>C</td>
                            <td><%= shift.medicef.third.start %></td>
                            <td><%= shift.medicef.third.end %></td>
                          </tr>
                          <% }%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- /.card -->
            </div>
            <!--! /.SHIFT MEDICEF-->
            <% } %>
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- sweetalert2  -->
    <script src="/assets/plugins/sweetalert2/sweetalert2.js"></script>
    <!-- InputMask -->
    <script src="assets/plugins/moment/moment.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="assets\plugins\tempusdominus-bootstrap-4\js\tempusdominus-bootstrap-4.min.js"></script>

    <!-- hikma dashboard  -->
    <script src="/assets/dist/js/pages/dashboard.js"></script>
    <!-- hikma App -->
    <script src="assets/dist/js/adminlte.min.js"></script>
    <!-- hikma for demo purposes -->
    <script src="assets/dist/js/demo.js"></script>

    <!-- page script -->
    <script>
      $("#shiftsNav").addClass("active");
      $("#managementNav").addClass("active");
      $(document).ready(function () {
        $("#shift2,#shift2").hide();
        $("#shift3,#shift3").hide();
        //<!--!iab
        //Timepicker
        $("#iab #shift1Start").datetimepicker({
          format: "LT",
        });
        $("#iab #shift1End").datetimepicker({
          format: "LT",
        });
        $("#iab #shift2Start").datetimepicker({
          format: "LT",
        });
        $("#iab #shift2End").datetimepicker({
          format: "LT",
        });
        $("#iab #shift3Start").datetimepicker({
          format: "LT",
        });
        $("#iab #shift3End").datetimepicker({
          format: "LT",
        });

        $("#iab #shift1End").on(
          "change.datetimepicker",
          ({ date, oldDate }) => {
            console.log("New date", date);
            $("#shift2start").val("date", moment("11/21/2018", "MM/DD/YYYY"));
          }
        );
        $("#iab #shift").change(function () {
          var selectedShift = $(this).children("option:selected").val();
          if (selectedShift == 2) {
            $("#iab #shift2").show();
            $("#iab #shift3").hide();
          } else if (selectedShift == 3) {
            $("#iab #shift2").show();
            $("#iab #shift3").show();
          } else {
            $("#iab #shift2").hide();
            $("#iab #shift3").hide();
          }
        });
        //<!--!medicef
        //Timepicker
        $("#medicef #shift1Start").datetimepicker({
          format: "LT",
        });
        $("#medicef #shift1End").datetimepicker({
          format: "LT",
        });
        $("#medicef #shift2Start").datetimepicker({
          format: "LT",
        });
        $("#medicef #shift2End").datetimepicker({
          format: "LT",
        });
        $("#medicef #shift3Start").datetimepicker({
          format: "LT",
        });
        $("#medicef #shift3End").datetimepicker({
          format: "LT",
        });

        $("#medicef #shift").change(function () {
          var selectedShift = $(this).children("option:selected").val();
          if (selectedShift == 2) {
            $("#medicef #shift2").show();
            $("#medicef #shift3").hide();
          } else if (selectedShift == 3) {
            $("#medicef #shift2").show();
            $("#medicef #shift3").show();
          } else {
            $("#medicef #shift2").hide();
            $("#medicef #shift3").hide();
          }
        });
      });
    </script>
  </body>
</html>
